@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url("navbar.css");

body,html{
    margin: 0;
    padding: 0;
    /*display: flex;*/
/*  	align-items: center;
  	justify-content: center;
  	flex-direction: column;*/
}

body {
	background-color: #e2ebed;
	font-family: 'Roboto', sans-serif;
	color: #314467;
	font-size: 14px;
}

/*Login page*/

img {
	width:100%;
	max-width: 350px;
}

form {
	display:block;
}

input[type="text"],
input[type="submit"] {
	display: block;
	width: 300px;
	height: 40px;
	margin: auto;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
    padding:0 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid white
}

input[type="submit"] {
	border:none;
    text-transform: uppercase;
    font-weight: bold;
	letter-spacing: 0.2px;
	color: #314467;
	transition: background-color 0.5s;
}

input[type="submit"]:hover {
	background-color: #314467;
	color: #ffffff;
}

p {
	margin-bottom: 30px
}

/*Navbar modifications*/
/*.nav-container {
	position: absolute;
}
*/

/*Home page*/

h1 {
	margin:0;
}

.content {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.container{
	max-width:700px;
	margin: 0 10px;
}

.header {
	display:flex;
	flex-direction: column;

	background-color: #33415b;
	color:white;
	padding: 15px;
}

.main-title {
	margin: 15px 0;
}

.main-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}


h2 {
	font-size: 20px;
	border-bottom: 1px solid;
}

h3 {
	font-size: 14px;
	margin-top: 0;
}

.class-list {
	margin:10px;
}

.enlisted-class {
	margin:20px;
	padding:15px 25px ;
	background-color: white;
}

button {
	padding:10px 20px;
	margin: 0 5px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.2px;
	text-align: center;
	text-transform: uppercase;
	color: #314467;
	background-color: #ffffff;
	border:none;
}

@media all and (min-width: 768px) {

	.header {
		flex-direction: row;
	}

	.main-title,
	.main-controls {
		width:50%;
	}

}