@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body,html{
    margin:0;
    padding: 0;
}

body {
	background-color: #e2ebed;
	font-family: 'Roboto', sans-serif;
	color: #314467;
	font-size: 14px;
}

h1 {
	line-height: 1;
	margin:0;
	font-size: 21.5px;
	margin-bottom: 10px;
	line-height: 1.16;
	color: #314467;
	font-weight: 700;
}

/*Buttons*/
.btn {
	padding:10px 20px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.2px;
	text-align: center;
	text-transform: uppercase;
	color: #314467;
	background-color: #ffffff;
	border:none;
	transition: background-color 0.3s ease;
}

.btn-enlist {
	border: solid 1px #e2ebed;
}

.btn-finish {
	background-color: #3cb281;
	color: #ffffff;
	margin:15px 0;
	display:block;

}

.btn-finish:disabled{
	background-color: #d9d9d9;
	color: #595959;
}

.btn-enlist:hover,
.btn-logout:hover {
	background-color: #f1f1f1;
}


/*Header*/

.header-container {
	padding: 30px 0;
}

.header-title {
	width:90%;
	text-align: center;
	margin:auto;
	margin-top: 50px;
}

.header-controls {
	width:100%;
	padding-top:20px;
	text-align: center;
}

.search-bar-container input {
	border: none;
	border-radius: 3px;
	font-size: 16px;
	min-width: 275px;
	padding: 15px;
}

.checkbox-container {
	display: inline-block;
	padding-right: 10px;
}

.logout-container {
	display: inline-block;
	margin-top:10px;
}

.error-message {
	width:90%;
	margin:auto;
	background-color: #F3DCDC;
	color: #AC4168;
	padding:20px;
	margin-top:30px;
	border-radius: 10px;
}

.btn-close {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/*Table*/
.enlistment-body{
	padding-right: 10px;
	padding-left: 10px;
	overflow-x: auto;

	margin-bottom: 50px;
}

.sortable{
	width:100%;
	background-color: #ffffff;
	border-radius: 4px;
	font-size: 14px;
}

td {
	padding:7px;
	text-align: left;
}

th {
	padding:25px 10px;
	text-align: left;
	background: #ffffff;
	color: #6f7b8b;
	font-weight: bold;
}

tr:nth-child(odd) {
	background: #f8feff;
}

td:last-child { 
	text-align: center;
	padding:25px 20px;
}

td:first-child,
th:first-child {
	padding-left: 50px;
}

.msg-error {
	font-weight: bold;
	color: #cb3838;
	text-transform: uppercase;
	font-size: 12px;
}

.msg-enlisted {
	font-weight: bold;
	color: #4ccd73;
	text-transform: uppercase;
	font-size: 12px;
}

/* Navbar */

.nav-container {
    background: #34425b;
    width: 100%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 0 10%;
}

#nav-title {
    font-size: 22px;
    font-weight: 700;
}

.nav li {
    overflow: hidden;
}

.nav li a {
    display: block;
    color: white;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
}

.nav li a:hover{
    background: #34425b;
    color: #99a0ad;
}

.nav .nav-links li{
	display: none;
	text-transform: uppercase;
}

/*Navbar toggle*/
.nav .nav-links li:last-child,
.nav .nav-links .responsive li:last-child {
    float: right;
    display: block;
    position: absolute;
	right: 0;
	top: 0;
}

.nav.responsive {
	position: relative;
}

.nav.responsive li {
	float: none;
	display: block;
	text-align: left;
}

/*Footer*/

.enlist-summary {
	width:100%;
	position: fixed;
	bottom:0%;
	background-color: #33415b;
	/*height:0;*/
	overflow: hidden;
	transition: height 0.8s ease;
}

.enlist-desc h1 {
	color: #ffffff;
	font-size: 20px;
}

#enlist-container {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin:auto;
	height:0px;
	overflow: hidden;

    -webkit-transition:all 0.7s ease;
    -moz-transition:all 0.7s ease;

    z-index: 1;
}

.enlist-desc {
	height:80%;
	width: 90%;
	background-color: transparent;
	color:#ffffff;
}

.empty-class {
	display:flex;
	align-items: center;
	justify-content: center;

	height:80%;
	min-height: 132px;
	font-weight: bold;
	padding:0 16px;
	background-color: #d8d8d8;
}

.enlisted-class {
	height:80%;
	background-color: #ffffff;
	color: #33415b;
	font-size: 14px;
	padding:16px;
	margin-bottom:10px;
}

.enlisted-class h2 {
	font-size: 14px;
	margin-top: 0;
}

.enlisted-class h2 .volunteer-tag {
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px; 

	font-size: 8px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #ca3838;
	color: #ffffff;
}

.enlisted-class a {
	display: block;
	margin-top:10px;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #ca3838;
}

.enlisted-class a:hover {
	text-decoration: underline;
}

#toggle-container {
	text-align: right;
	vertical-align: center;
	padding-right: 25px;
	padding:0 10%;
}

#toggle-title {
	display: block;
	padding-top: 10px;
	color: #ffffff;
	float:left;
	font-size: 16px;
	font-weight: bold;
	margin:0;
}


#btn-toggle {
	display: inline-block;
	color:white;
	font-size: 35px;
	transform: rotate(90deg);
	transition: all 0.5s ease;
}

#btn-toggle:hover {
	color: grey;
}

@media all and (min-width: 426px) {
	.header-container {
		width:80%;
		margin:auto;
		vertical-align: center;
	}

	#enlist-container {
		width:80%;
		margin:auto;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.enlist-desc {
		width:100%;
		margin:1%;
	}

	.class-list {
		display: flex;
		width:100%;
	}

	.empty-class{
		width:50%;
		margin:1%;
	}

	.enlisted-class {
		display:flex;
		flex-direction: column;
		justify-content: center;
		min-height:100px;
		width:50%;
		margin:1%;

		padding:16px;
	}

}

@media all and (min-width: 768px){
	#enlist-container {
		display:flex;
		flex-direction: row;
		height: auto;
		margin-top: 20px;
	}

	#toggle-title {
		display: none;
	}

	.enlist-desc {
		width:31%;
	}

	.class-list {
		width: 61%;
	}

	#btn-toggle {
		transform: rotate(-90deg);
	}

	td {
		padding:15px 10px;
	}
}

@media all and (min-width: 1024px) {

	.nav li {
		display: block;
		float: left;
    	line-height:75px;
	}

	#nav-title {
	    font-size: 20px;
	}

	.nav-links {
		float: right;
	}

	.nav .nav-links li {
		display:  block;
	}

	.nav .nav-links li:last-child{
		display:none;
	}


	.header-title {
		/*display:inline-block;*/
		/*width:auto;*/
	}

	.header-controls {
/*		display: inline-block;
		float: right;
		width:auto;*/
		text-align: left;
		padding-top: 0px;
	}

	.header-controls .search-bar-container {
		display: inline-block;
	}

	.header-controls .checkbox-container {
		float: right;
	}

	.enlistment-body {
		padding: 0 10%;
	}
}